[Unit]
Description=Run Minecraft Server  

[Service]
User=mcadmin 
Group=mcadmin 
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/mcadmin/LyadhCraft
ExecStart=sh /home/mcadmin/LyadhCraft/runmcserver.sh
# RestartSec=10
# Restart=always

[Install]
WantedBy=multi-user.target
